@import "etalab.less";

.topic-excerpt {
    padding-top: 20px;
    padding-left: 30px;
    margin-bottom: 10px;
    color: white;
    font-size: 14px;
    line-height: 1.6em;
    max-height: 280px;

    h3 {
        font-family: @title-font;
        font-size: 32px;
    }


}

.more {
    margin-top: 10px;
}

.nav-pills > li > a {
    margin-top: 15px !important;
}
