/**
 * Common site styles and helpers.
 */
@import "bootstrap.less";
@import "variables.less";
@import "etalab-icons.less";
@import "etalab-mixins.less";
@import "etalab-buttons.less";
@import "etalab-cards.less";
@import "etalab-typeahead.less";
@import "etalab-navbars.less";

// Web fonts

@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,500);
@title-font: 'Raleway', sans-serif;

// @title-font: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

body {
    color: @dark_text;
}

.cover-communaute {
    width: 140px;
    height: 80px;
    top:0;
    left: -38px;
    position: absolute;
    background: url('../img/communaute_cover.png') no-repeat 0px 5px;
    opacity: 0.5;
}

.full-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    position: relative;
}

section.default {
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: white;
}

section.content {
    padding-top: 30px;
    background-color: white;
}

img.scalable {
    max-width: 100%;
}


// Custom modal style
.modal {
    .modal-header, .modal-footer {
        background-color: lighten(@bg-light, 45%);
    }

    .modal-footer {
        margin-top: 0;
        text-align: center;
    }
}

/**
 * Form adjustments
 */
form {
    label.required:after {
        color: red;
        content: '*';
    }

    span.red {
        color: red;
    }

    .form-help {
        .glyphicon();
        .glyphicon-info-sign();
        cursor: pointer;
    }
}


// Clickable thumbnail
a.thumbnail-link {
    text-decoration: none;

    &:hover .thumbnail {
        border: 1px solid @highlight;
    }
}

.jumbotron {
    background-color: fadeout(@bg-light, 70%)
}


small.not-certified {
    .square-stamp(#ff9d02);
}

small.private {
    .square-stamp(#7993e3);
}

small.fork {
    .square-stamp(#248ae3);
}


// big banner call to action
.call-to-action {
    position: relative;
    top: 65px;
    left: 50px;


    h2 {
        color: white;
        font-style: italic;
        font-size: 36px;
        font-family: @title-font;
        line-height: 1.2em;
    }
}


// footer style
.footer {
    padding-top: 0px;
    padding-bottom: 40px;
    background-color: #26353f;
    color: white;
    font-size: 12px;

    a {
        font-weight: bold;
        color: white;
    }

    h5 {
        font-family: @title-font;
        font-size: 14px;
        margin: 26px 0px 10px;
        font-weight: bold;
        text-transform: uppercase;
    }
    ul {
        padding: 0;
        list-style: none;
        line-height: 1.78em;

    li a {
    font-weight: normal;
    }
    }

    .logo {
        margin: 20px 0px 8px;
    }
    .bottom-right {
        position: absolute;
        bottom: -40px;
        right: 0px;
        a {
            background-color: rgba(255, 255, 255, 0.42);
            padding: 3px 10px;
        }
    }
}


.publisher-avatar-50 {
    .publisher-avatar(50px, 50%);
}

.publisher-avatar-80 {
    .publisher-avatar(80px, 40%);
}

.publisher-avatar-100 {
    .publisher-avatar(100px, 30%);
}

.publisher-avatar-150 {
    .publisher-avatar(150px, 30%);
}
