@import "etalab.less";

#claim {
    font-family: @title-font;
    font-size: 1.55em;
}

h3 {
font-family: @title-font;
text-transform: uppercase;
font-size: 14px;
font-weight: bold;
padding: 0px;
margin-right: 15px;
margin-top: 12px;
margin-bottom: 8px;
color: @dark_text;
}

.marketing .panel {
    .img-responsive {
        width: 100%;
    }

    .panel-title {
        font-size: 1.55em;
        font-family: @title-font;
        &:hover {
            color: @highlight;
        }
    }

    .panel-body {
        color: black;
    }

    &:hover {
        border: 1px solid @highlight;

        .panel-body {
            color: @highlight;
        }

        .panel-title {
            color: @highlight;
        }
    }
}

.tab-datasets {
    tr {
        cursor: pointer;

        a {
            text-decoration: none;
            color: black;
        }
    }
}

// Feeds fixes
.feeds {
    background-color: @gray-lighter;

    .nav-tabs a {
        border: none;
    }

    .table {
        margin: 0;
        table-layout: fixed;
    }
}


// News carousel
#news-carousel {
    border: 1px solid #d9d9d7;

    @media (min-width: @screen-sm) {
        height: 300px;
        overflow: hidden;
    }

    .carousel-inner > .item {

        img {
            margin: 0 auto;
        }

        @media (min-width: @screen-sm) {
            height: 300px;

            img.slide {
                min-height: 200px;
                position: absolute;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -50%;
                margin-top: -48%;
                min-width: 100%;
            }
        }
    }

    .carousel-caption {
        height: 100px;
        z-index: 10;
        width: 100%;
        color: #3e3e3e;
        background-color: rgb(243, 243, 243);
        padding: 5px;
        bottom: 0px;
        left: 0px;
        text-shadow: none;
        text-align: left;
        text-transform: uppercase;
        font-family: @title-font;
        padding: 10px;

        .slide-logo {
            display: block;
            width: 80px;
            height: 80px;
            border: 1px solid @gray-lighter;
            position: absolute;
            margin-right: 20px;
            background: white;
            

            img {
                max-width: 70px;
                max-height: 70px;
                position: absolute;
                left: 50%;
                top: 50%; 
                margin-left: -40px;
                margin-top: -40px;
            }
        }

        label {
            font-size: 12px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .title  {
            margin-top: 0px;

        a {
            color: #3e3e3e;
            display: block;
            font-size: 17px;
            line-height: 20px;
            font-weight: bold;
            padding-right: 18px;
            height: 55px;
            overflow: hidden;
            font-family: @title-font;

        }
        }
    }
}




// Main Carsoussel
#home-carousel {
    border: 1px solid #d9d9d7;

    @media (min-width: @screen-sm) {
        height: 300px;
        overflow: hidden;
    }

    .carousel-inner > .item {

        img {
            margin: 0 auto;
        }

        @media (min-width: @screen-sm) {
            height: 340px;

            img.slide {
                min-height: 300px;
                position: absolute;
                top: 0;
                left: 0;
                min-width: 100%;
            }
        }
    }

    .carousel-caption {
        height: 100px;
        z-index: 10;
        width: 100%;
        color: #3e3e3e;
        background-color: rgba(243, 243, 243, 0.92);
        padding: 5px;
        bottom: 40px;
        left: 0px;
        text-shadow: none;
        text-align: left;
        text-transform: uppercase;
        font-family: @title-font;
        padding: 10px;

        .slide-logo {
            display: table-cell;
            text-align: center;
            line-height: 77px;
            width: 80px;
            height: 80px;
            border: 1px solid @gray-lighter;
            background: white;
            margin-right: 10px;

            img {
                max-width: 70px;
                max-height: 70px;
            }
        }

        label {
            font-size: 12px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .title  {
            margin-top: 0px;

        a {
            color: #3e3e3e;
            display: block;
            font-size: 28px;
            line-height: 30px;
            font-weight: bold;
            padding-right: 10px;
            height: 55px;
            overflow: hidden;
            font-family: @title-font;

        }
        }
    }
}

// dataset cards
ul.search-results {
    padding-left: 0;
    list-style: none;

    .search-result {
        position: relative;
        margin-bottom: 18px;
        background: white;
        border: 1px solid @gray-lighter;
        padding: 13px;
        overflow: hidden;
        zoom: 1;
        height: 170px;


        .result-logo {
            display: table-cell;
            text-align: center;
            line-height: 77px;
            width: 80px;
            height: 80px;
            border: 1px solid @gray-lighter;
            
            img {
                max-width: 70px;
                max-height: 70px;
            }
                
        }

        .result-body {
            padding-left: 93px;
            color: #4f4f4f;
            font-size: 13px;
            line-height: 1.3em;

            .result-infos {
                z-index: 1000;
                display: block;
                position: absolute;
                bottom: 0px;
                left: 0px;
                width: 100%;
                background-color: #ececec;
                height: 24px;
                line-height: 25px;
                font-weight: bold;
                font-size: 12px;
                color: #6a6a6a;
                .btn {
                    background: none !important;
                    color: #bababa;
                }
            }
        }
        .result-text-mask {
            display: block;
            position: absolute;
            bottom: 15px;
            left: 0px;
            width: 100%;
            height: 50px;
            background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 99%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(69%,rgba(255,255,255,1)), color-stop(99%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 69%,rgba(255,255,255,1) 99%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 69%,rgba(255,255,255,1) 99%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 69%,rgba(255,255,255,1) 99%); /* IE10+ */
            background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 69%,rgba(255,255,255,1) 99%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

        }

        h4 {
            margin: 0 0 8px;
            line-height: 13px;

            a {
            font-size: 14px;
            color: #494949;
            font-family: @title-font;
            font-weight: bold;
            }
        }

        &.topic-result, &.question-result {
            .glyphicon {
                font-size: 2em;
                top: -2px;
                margin-right: 7px;
            }

            h4 {
                vertical-align: top;
                margin: 4px 0 0 5px;
            }

            .result-body {
                padding-left: 0;
                display: inline;

            }
        }

    }
}
