/**
 * Common site styles and helpers.
 */
@import "bootstrap.less";
@import "variables.less";
@import "etalab-icons.less";

// Web fonts
// @import url(http://fonts.googleapis.com/css?family=Sansita+One);
@title-font: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

.cover {
background-image: url('../img/datacover.png');
background-size: cover;

}

.sidebackground1,.sidebackground2, .sidebackground3 {
background-color: rgba(19,86,122,0.5);
width: 1015px;
position: absolute;
left: -1000px;
z-index: -10;
}

.sidebackground1 {
height: 36px;
top: 11px;
}

.sidebackground2 {
height: 36px;
top: 50px;
}

.sidebackground3 {
height: 219px;
top: 89px;
}

.full-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    position: relative;
    // padding: 0px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.transition(...) {
    @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`;

    -webkit-transition: @value;
    -moz-transition: @value;
    -ms-transition: @value;
    -o-transition: @value;
    transition: @value;
}

.scale(@ratio) {
    -webkit-transform:scale(@ratio);
       -moz-transform:scale(@ratio);
        -ms-transform:scale(@ratio);
         -o-transform:scale(@ratio);
            transform:scale(@ratio);
}

.no-decoration {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.card {
    background-color: white;
    border: 1px solid darken(@gray-lighter, 10%);
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

/**
 * Form adjustments
 */
form {
    label.required:after {
        color: red;
        content: '*';
    }

    span.red {
        color: red;
    }

    .form-help {
        .glyphicon();
        .glyphicon-info-sign();
        cursor: pointer;
    }
}

// Custom buttons
.btn {
    border-radius: 0px;
    border: 0px;
    font-weight: bold;
}
.btn-big {
    background-color: #045783;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 40px;
    padding: 0px;
    height: 40px;
}
.btn-dark {
    .button-variant(white; @bg-darker; @bg-dark);
}
.btn-highlight {
    .button-variant(white; @highlight; @highlight);
}

// Clickable thumbnail
a.thumbnail-link {
    text-decoration: none;

    &:hover .thumbnail {
        border: 1px solid @highlight;
    }
}

.jumbotron {
    background-color: fadeout(@bg-light, 70%)
}


/**
 * Navbar style and fixes
 */

.navbar {
min-height: 95px;
color: #373c42;
margin-bottom: 20px;
border: none;
}

.navbar-header {
    width: 100%;
}

.navbar-nav li {
font-weight: bold;
font-size: 12px;

a {
padding: 8px;
}

}

.navbar-nav > li > a.navbar-btn {
    margin-right: 5px;
    padding: @padding-base-vertical @padding-base-horizontal;

}

.navbar-static-top {
    .navbar-right .dropdown {
        margin-right: 5px;

        .caret {
            color: white;
            border-top-color: white;
            border-bottom-color: white;
        }
    }
}

.navbar-default {
    margin-bottom: 0;

    .navbar-brand   {
        margin: 10px ;
        display: block;
        width: 400px;
        min-height: 42px;
        padding-left: 90px;
        line-height: 10px;
        font-weight: bold;
        color: #373c42;
        background-image: url('../img/logo_etat.png') ;
        background-repeat: no-repeat;

        &:hover {
            color: #49a5d7;

        }
        
    }

    // Specific fix for btn-dark
    .btn-dark:hover, .btn-dark:focus {
        color: white !important;
        background-color: darken(@bg-dark, 8%) !important;
    }
}

.navbar-text {
    font-style: italic;
    color: #5f5f5f !important;
    font-size: 16px;
    font-family: @title-font;
}

.navbar-subnav {
    background-color: lighten(@bg-dark, 10%);
    z-index: 800;

    .navbar-form {
        margin: 0px;
    }

    @media (min-width: @grid-float-breakpoint) {
        .navbar-form {
            padding: 0;
        }
    }

    .subnav-collapse { // Copied from bootstrap navbar-collapse
        max-height: 340px;
        overflow-x: visible;
        padding: 0px;
        .clearfix();
        -webkit-overflow-scrolling: touch;

        &.in {
            overflow-y: auto;
        }

        @media (min-width: @grid-float-breakpoint) {
            border-top: 0;
            box-shadow: none;

            &.collapse {
                display: block !important;
                height: auto !important;
                padding-bottom: 0; // Override default setting
                overflow: visible !important;
            }

            &.in {
                overflow-y: visible;
            }

            // Account for first and last children spacing
            .navbar-nav.navbar-left:first-child {
                margin-left: -@navbar-padding-horizontal;
            }
            .navbar-nav.navbar-right:last-child {
                margin-right: -@navbar-padding-horizontal;
            }
            .navbar-text:last-child {
                margin-right: 0;
            }
        }
    }

    input[type="search"] {
        color: #bfbfbf;
        background-color: @bg-light;
        border-radius: 0;
        border: 1px solid white;
    }

    .glyphicon {
        color: #bfbfbf;
    }

    .territory-clear {
        color: red;
        cursor: pointer;
    }

    .navbar-form {
        border: none;
        .box-shadow(none);
    }

    .input-group {
        .input-group-addon {
            background-color: @bg-light;
            border: 1px solid white;
            border-radius: 0;
        }

        .input-group-btn .btn {
            background-color: @bg-light;
            border-radius: 0px;
            color: #999;
            border: 1px solid white;
        }


        @media (max-width: @screen-sm) {
            margin: 5px;
        }
    }
}

.input-group.collapse {
    display: none;
}

.btn-punch {
    @media (min-width: @screen-xs) {
        .btn-lg();
        font-size: 22px;
        font-weight: bold;
    }
}

// Typeahead.js fixes for BS3
.twitter-typeahead {
    width: 100%;

    .tt-hint {
        width: 100%;
        height: @input-height-base;;
        padding: 6px 12px;
    }

    .tt-dropdown-menu {
        color: white;
        width: 100%;
        background-color: @bg-dark;
        margin-top: -1px;
        padding: 5px;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.2);
        *border-right-width: 2px;
        *border-bottom-width: 2px;
        border-radius: 6px;
        .box-shadow(0 5px 10px rgba(0,0,0,.2));
          -webkit-background-clip: padding-box;
             -moz-background-clip: padding;
                  background-clip: padding-box;

        p.search-header {
            .text-center();
            margin: 0;
            background-color: @bg-light;
        }
    }

    .tt-suggestion {
        @maxLines: 2;
        @maxHeight: @maxLines * @line-height-computed;
        display: block;
        max-height: @maxHeight;
        margin-top: 2px;
        .clearfix();

        &.tt-is-under-cursor {
            background-color: @bg-light;
            #gradient.vertical(@bg-light, @highlight);
        }

        p {
            margin: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            max-height: @maxHeight;
        }

        img {
            .pull-left();
            max-width: 40px;
            max-height: @maxHeight - 5px;
            margin: 2.5px 5px 2.5px 0;
        }
    }
}


/**
 * Sidebar style and fixes
 */
#sidebar {
    background-color: rgb(19,86,122,0.5);
    color: white;
    max-width: 400px;

    a {
        color: white;
        text-decoration: none;
    }

    .panel-heading {
        background-color: transparent;
        border-bottom: none;
        padding: 0;
        a {
            padding: 10px 15px;
            display: block;
            .transition(padding .2s ease, background .2s ease);

            &:hover, &:focus {
                padding-left: 15px;
                background-color: @highlight-dark;
            }
        }
    }

    .panel-title {
        padding: 10px;
    }

    .panel-body {
        background-color: @bg-dark;

        ul.list-unstyled {
            margin: 0;
            li{
                padding: 5px;
                border-radius:4px;
                .transition(padding .2s ease, background .2s ease);

                &:hover, &:focus {
                    padding-left: 15px;
                    background-color: lighten(@bg-dark, 10%);
                }
            }
        }
    }

    .list-group-item {
        background: none;
        border: 0px;
        color: white;
        padding: 4px 0px;
        font-weight: normal;
        font-size: 13px;
        &:hover, &:focus {
            border: 0px;
        }

        &:last-child {
            border-bottom: none;
        }
    }
}
