@import "etalab.less";

.dataset-container {

padding-bottom: 35px;

    h3 {
        font-family: @title-font;
        color: @dark_text;
        font-size: 1.1em;
        font-weight: bold;
        text-align: left;
        margin-bottom: 6px;
        margin-top: 15px;
    }

    .page-header {
        color: @dark_text;
        margin-top: 0px;
        border: none;
        margin-bottom: 0px;

        h1 {
            font-family: @title-font;
            margin-bottom: 5px;
            margin-top: 0px;
        }

        small {
            color: @dark_text;

            a {
                font-weight: bold;
                color: @dark_text;

                &:hover {
                    color: @bg-dark;
                    text-decoration: none;
                }
            }

            a.btn {
                vertical-align: text-top;
                font-weight: bold;
            }
        }

        aside {
            a:hover .thumbnail, a:active .thumbnail {
                text-decoration: none;
            }
        }
    }
}

// correcting main column width
.smaller {
    padding-right: @grid-gutter-width * 2.5;
}

.provider {
    width: 100%;
    margin: 20px 0px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #D6D6D6;
    border-top: 1px dashed #D6D6D6;

    img {
        height: 45px;
        margin-right: 15px;
        border: 1px solid #eee;
        padding: 2px;
        background-color: white;
    }

    a .name {
        font-size: 13px;
        color: @dark_text;
    }
}


.card {
    font-size: 13px;
    color: #565656;
    padding: 13px;
    border-radius: 0px;
    border-color: #d7d7d5;
    margin-bottom: 13px;
    position: relative;

    h3 {
        margin-top: 2px;
        margin-bottom: 10px;
    }

    img.producer {
        max-width: 100%;
    }

    img.certified {
        position: absolute;
        top: -15px;
        right: -5px;
        widht: 70px;
        height: 70px;
        cursor: pointer;
    }

    .caption p {
        font-size: 90%;
        margin: 10px 0px;
        line-height: 1.4em;
    }

    .btn {
        margin: 0px;
    }

    .icon-left  {
        position: relative;

        .glyphicon {
            width: 30px;
            height: 30px;
            line-height: 28px;
        }
    }

    .col-md-1 {
        margin-left: 20px;
    }

    #infos-list {
        li {
            margin-bottom: 3px;
        }
        a {
            font-weight: bold;
            color: #565656;
        }
        .glyphicon {
            color: #aeaeae;
        }
    }
    .tags a {
        font-size: 10px;
        line-height: 15px;
        padding: 2px 5px;
        margin-bottom: 4px;
    }
    .big_number {
        color: #a7a7a7;
        font-size: 34px;
        margin: 0 0 0px;
        font-weight: bold;
        margin-top: -5px;
        display: block;
    }
}


.related-panel {
    .thumbnail {
        img {
            border: 1px solid @gray-lighter;
        }
    }
}

.resources-list {
    margin-top: 30px;

    .list-group-item {
        height: 54px;
        cursor: pointer;
        background-color: #eaeaea;
        margin: 0px 0px 10px;
        border-color: #eaeaea;
        border-radius: 0px;
        padding: 0;
        &:hover {
            background-color: #ddd;
        }
    }

    .list-group-item-text {
        margin-left: 60px;
        font-size: 12px;
        font-weight: normal;
    }

    .list-group-item-heading {
        margin-left: 60px;
        margin-top: 9px;
        margin-bottom: 3px;
        font-size: 14px;
        font-weight: bold;

        &.dual{
            line-height: 2;
        }
    }

    .format-label {
        display: block;
        width: 52px;
        height: 52px;
        line-height: 52px;
        background-color: #f9f9f9;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0px;
        line-height: 52px;
    }


    .resource-frame {
        margin-top: 10px;
        width: 100%;
        height: 600px;
        border: 1px solid @panel-inner-border;
    }
}

aside {
    > * {
        margin-bottom: 10px;
    }

    a.btn {
        margin-bottom: 5px;
    }

    .quality-report {
        margin-top: 10px;
        a:hover {
            text-decoration: none;
        }

        .medium_number {
            font-size: 30px;
            text-align: left;

            label {
                float: left;
                width: 100%;
                margin-top: -6px;
                font-size: 13px;
                color: #797979;
                font-weight: normal;
            }
        }
        .warning {
            color: @yellow;
        }
        .error {
            color: @red;
        }
        .critical {
            color: @dark_text;
        }
    }
}



.community_container {
    background-color: #3c5464;

    .page-header {
        height: 80px;
        background-color: #2d3e4b;
        color: white;
        border: 0px;
        margin-top: 0;


        h2 {
            font-family: @title-font;
            margin-top: 16px;
            margin-bottom: -4px;
            font-size: 30px
        }
        small {
            margin-top: 5px;
        }

    }

    .publish-reuse {
        position: absolute;
        right: 15px;
        top: 19px;
    }

    h3 {
        color: white;
        margin-bottom: 10px;
        font-family: @title-font;
        text-transform: uppercase;
        font-size: 13px;

    }

    .reuse {
        border-radius: 0px;
        border: none;
        height: 210px;
        margin-bottom: 20px;
        overflow: hidden;
        background-color: #fafafa;
        padding: 0px;
        position: relative;

        @preview-height: 110px;

        a.preview {
            display: block;
            height: @preview-height;
            text-align: center;
            overflow: hidden;

            img {
                min-height: 110px;
                min-width: 100%;

            }
        }


        .caption {
            padding: 13px;
            color: #6B6B6B;
            font-size: 13px;
            line-height: 16px;

            .author {
                display: block;
                height: 28px;
                position: absolute;
                bottom: 8px;

                img {
                    width: 25px;
                    border: 1px solid #7e7e7e;
                    float: left;
                    margin-right: 10px;
                }
                .user {
                    font-size: 13px;
                    color: #3a3b3d;
                    font-weight: bold;
                    top: -3px;
                    position: relative;
                }
                .date {
                    float: left;
                    font-size: 10px;
                    top: -5px;
                    position: relative;
                }
            }
        }

        .rollover {
            color: darken(white, 10%);
            background: fadeout(@gray-darker, 15%);
            font-size: 13px;
            position: absolute;
            display: none;
            top: 0;
            left: 0;
            right: 0;
            height: @preview-height;
            padding: 10px;
            overflow: hidden;

            &:hover {
                text-decoration: none;
                background: fadeout(@gray-darker, 10%);
            }
        }

        &:hover .rollover {
            display: block;
        }

        h4 {
            margin-top: 4px;
            margin-bottom: 7px;
            line-height: 10px;
            max-height: 35px;

            a {
                font-family: @title-font;
                font-size: 14px;
                line-height: 1.2em !important;
                color: #131416;
                font-weight: bold;
                display: block;
            }
        }

        a.featured {
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
    }

    .note p {
        color: #e8e8e8;
        font-size: 13px;
        line-height: 1.4em;
    }

}

.not-certified {
    padding: 2px 4px;
    color: #ff9d02 !important;
    text-transform: uppercase;
    border: 2px solid #ff9d02;
    font-size: 9px;
    margin-left: 3px;
    font-weight: bold;
    top: -1px;
    position: relative;
}

