/**
 * Common site styles and helpers.
 */
@import "bootstrap.less";
@import "variables.less";
@import "etalab-icons.less";
@import "etalab-cards.less";
@import "etalab-typeahead.less";

// Web fonts

@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,500);
@title-font: 'Raleway', sans-serif;

// @title-font: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

body {
    color: @dark_text;
}

.cover {
    background-image: url('../img/datacover.png');
    background-size: cover;
}

.cover-marianne {
    width: 200px;
    height: 80px;
    top:0;
    left: -78px;
    position: absolute;
    z-index: -10;
    background: url('../img/marianne_cover.png') no-repeat;
}
.cover-communaute {
    width: 140px;
    height: 80px;
    top:0;
    left: -38px;
    position: absolute;
    background: url('../img/communaute_cover.png') no-repeat 0px 5px;
    opacity: 0.5;
}
.state {
    background: #fc3f3f !important;
}

.sidebackground-width(@container-width, @cols) {
    width: round(1000px + @cols * (@container-width / @grid-columns) - (@grid-gutter-width / 2) + 1px);
}

.sidebackground1,.sidebackground2, .sidebackground3 {
    background-color: rgba(0,0,0,0.25);
    position: absolute;
    left: -1000px;
    z-index: -10;
    .sidebackground-width(@container-lg, 4);

    @media (max-width: @screen-md-max) {
        .sidebackground-width(@container-md, 4);
    }

    @media (max-width: @screen-sm-max) {
        .sidebackground-width(@container-sm, 5);
    }
}

.sidebackground1 {
    height: 34px;
    top: 12px;
}

.sidebackground2 {
    height: 34px;
    top: 50px;
}

.sidebackground3 {
    height: 218px;
    top: 88px;
}

.full-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    position: relative;
    // padding: 0px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.transition2(...) {
    @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`;

    -webkit-transition: @value;
    -moz-transition: @value;
    -ms-transition: @value;
    -o-transition: @value;
    transition: @value;
}

.scale(@ratio) {
    -webkit-transform:scale(@ratio);
       -moz-transform:scale(@ratio);
        -ms-transform:scale(@ratio);
         -o-transform:scale(@ratio);
            transform:scale(@ratio);
}

.no-decoration {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

// Custom modal style
.modal {
    .modal-header, .modal-footer {
        background-color: lighten(@bg-light, 45%);
    }

    .modal-footer {
        margin-top: 0;
        text-align: center;
    }
}

/**
 * Form adjustments
 */
form {
    label.required:after {
        color: red;
        content: '*';
    }

    span.red {
        color: red;
    }

    .form-help {
        .glyphicon();
        .glyphicon-info-sign();
        cursor: pointer;
    }
}

// Certified stamp
img.certified {
    position: absolute;
    top: -15px;
    right: 0px;
    widht: 60px;
    height: 60px;
    cursor: pointer;
}

// Custom buttons
.btn {
    border-radius: 0px;
    border: 0px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}
.btn-default {
    color: #474747;
}

.btn-big {
    font-size: 13px;
    padding: 12px 16px;
}

.btn-sm {
    padding: 6px 10px;
}

.btn-mini {
    height: 16px;
    width: 16px;
    line-height: 13px;
    padding: 0px;
}

.btn-grey {
    background-color: #aeaeae;
}

.btn-dark {
    background-color: #045783;
}

.btn-highlight {
    .button-variant(white; @highlight; @highlight);
}

.btn-light {
    color:white;
    background: none !important;
    border: 1px solid rgba(255, 255, 255, 0.6);
    text-align: left;
    text-transform: none;
    padding: 6px 10px;
    .glyphicon {
        padding-top: 1px;
        color: rgba(255, 255, 255, 0.5) !important;
    }
    &:hover {
        background: rgba(255, 255, 255, 0.2) !important;
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.8);
    }
    &:focus {
        background: rgba(0, 0, 0, 0.1) !important;
        color: white;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
}

.icon-left {

    padding-left: 28px;

    .glyphicon {
                color: rgba(255, 255, 255, 0.5);
                position: absolute;
                top: 0px;
                left: 0px;
                background-color: rgba(0, 0, 0, 0.15);
    }
}

// Clickable thumbnail
a.thumbnail-link {
    text-decoration: none;

    &:hover .thumbnail {
        border: 1px solid @highlight;
    }
}

.jumbotron {
    background-color: fadeout(@bg-light, 70%)
}


/**
 * Navbar style and fixes
 */

.navbar {
    color: #373c42;
    margin-bottom: 20px;
    border: none;
}

.navbar-header {
    width: 100%;
}

.navbar-nav li {
    font-weight: bold;
    font-size: 12px;

    a {
        padding: 8px 16px 5px 10px;
    }
}

.links li a {
    padding-left: 0px;
}

.navbar-nav > li > a.navbar-btn {
    margin-right: 5px;
    padding: @padding-base-vertical @padding-base-horizontal;
}

.navbar-static-top {

    // .navbar-right li a {
    //     padding-right: 0px;
    // }

    .navbar-right .dropdown {
        .caret {
            color: white;
            border-top-color: white;
            border-bottom-color: white;
        }
    }

    .user button {
        color: @dark_text;
        border: 0;
        padding-top: 6px;
        vertical-align: bottom;
    }

    .language {
        // right: -10px;
    }
}

.navbar-default {
    margin-bottom: 0;

    .navbar-brand   {
        margin: 10px 0px;
        display: block;
        width: 400px;
        min-height: 42px;
        padding: 0px;
        padding-left: 90px;
        line-height: 42px;
        font-weight: bold;
        color: #373c42;
        background-image: url('../img/logo_etat.png') ;
        background-repeat: no-repeat;
        font-family: @title-font;

        &:hover {
            color: @bg-dark;

        }

    }

    // Specific fix for btn-dark
    .btn-dark:hover, .btn-dark:focus {
        color: white !important;
        background-color: darken(@bg-dark, 8%) !important;
    }
}

.navbar-text {
    font-style: italic;
    color: #5f5f5f !important;
    font-size: 16px;
    font-family: @title-font;
    padding-top: 4px;
}

.navbar-subnav {
    background-color: @bg-dark;
    z-index: 800;

    .navbar-form {
        margin: 0px;
    }

    @media (min-width: @grid-float-breakpoint) {
        .navbar-form {
            padding: 0;
        }
    }

    .subnav-collapse { // Copied from bootstrap navbar-collapse
        max-height: 340px;
        overflow-x: visible;
        padding: 0px;
        .clearfix();
        -webkit-overflow-scrolling: touch;

        &.in {
            overflow-y: auto;
        }

        @media (min-width: @grid-float-breakpoint) {
            border-top: 0;
            box-shadow: none;

            &.collapse {
                display: block !important;
                height: auto !important;
                padding-bottom: 0; // Override default setting
                overflow: visible !important;
            }

            &.in {
                overflow-y: visible;
            }

            // Account for first and last children spacing
            .navbar-nav.navbar-left:first-child {
                margin-left: -@navbar-padding-horizontal;
            }
            .navbar-nav.navbar-right:last-child {
                margin-right: -@navbar-padding-horizontal;
            }
            .navbar-text:last-child {
                margin-right: 0;
            }
        }
    }

    input[type="search"] {
        color: #bfbfbf;
        background-color: @bg-light;
        border-radius: 0;
        border: none;
    }

    .glyphicon {
        color: #bfbfbf;
    }

    .territory-clear {
        color: red;
        cursor: pointer;
    }

    .navbar-form {
        border: none;
        .box-shadow(none);
    }

    .input-group {
        .input-group-addon {
            background-color: @bg-light;
            border: none;
            border-radius: 0;
        }

        .input-group-btn .btn {
            background-color: @bg-light;
            border-radius: 0px;
            color: #999;
            border: 1px solid white;
        }


        @media (max-width: @screen-sm) {
            margin: 5px;
        }
    }
}

.input-group.collapse {
    display: none;
}

.nav-pills > li > a {
    margin-top: 40px;
    font-family: @title-font;
    text-transform: uppercase;
    color: @gray-lighter;
    font-weight: bold;
    padding: 0px;
    margin-right: 15px;

    &:hover {
        color: #999;
        background: none;
    }
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: @dark_text;
    background: none;
}

.btn-punch {

    @media (min-width: @screen-xs) {
        .btn-lg();
        border-radius: 0px;
        font-size: 14px;
        font-weight: bold;
        background-color: @yellow;
    }
}


/**
 * Sidebar style and fixes
 */
.sidebar {
    background: none;
    border-radius: 0px;
    color: white;
    max-width: 400px;
    margin-bottom: 2px;

    a {
        color: white;
        text-decoration: none;
    }

    .panel {
        margin-bottom: 3px !important;
        background: none;
    }

    .panel-heading {
        background-color: transparent;
        border-bottom: none;
        padding: 0;
        a {
            padding: 10px 15px;
            display: block;
            .transition2(padding .2s ease, background .2s ease);

            &:hover, &:focus {
                padding-left: 15px;
                background-color: @highlight-dark;
            }
        }
    }

    .panel-title {
        padding: 10px;
    }

    .panel-body {
        background-color: @bg-dark;

        ul.list-unstyled {
            margin: 0;
            li{
                padding: 5px;
                border-radius:4px;
                .transition2(padding .2s ease, background .2s ease);

                &:hover, &:focus {
                    padding-left: 15px;
                    background-color: lighten(@bg-dark, 10%);
                }
            }
        }
    }

    .list-group {
        margin: 8px 0px;
    }

    .list-group-item {
        background: none;
        border: 0px;
        color: white;
        padding: 4px 0px;
        font-weight: normal;
        font-size: 13px;

        &:hover, &:focus {
            border: 0px;
            opacity: 0.75;
            background: none !important;
        }

        &:last-child {
            border-bottom: none;
        }
    }

}

// big banner call to action
.call-to-action {
    position: relative;
    top: 65px;
    left: 50px;


    h2 {
        color: white;
        font-style: italic;
        font-size: 36px;
        font-family: @title-font;
        line-height: 1.2em;
    }
}

.search_sidebar {
    padding-left: 0px;
    margin-top: 11px;
    margin-bottom: 8px;
}
.search_bar {
    padding-left: 0px;
    margin-top: 34px;
    margin-bottom: 0px;

    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
    .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
    .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
    .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
    .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        padding-left: 0px;
        padding-right: 15px;
        &:last-child {
            padding-right: 0px;
        }
    }

}

// footer style
.footer {
    padding-top: 0px;
    padding-bottom: 40px;
    background-color: #283843;
    color: white;
    font-size: 12px;

    a {
        font-weight: bold;
        color: white;
    }

    h5 {
        font-family: @title-font;
        font-size: 14px;
        margin: 26px 0px 10px;
        font-weight: bold;
        text-transform: uppercase;
    }
    ul {
        padding: 0;
        list-style: none;
        line-height: 1.78em;

    li a {
    font-weight: normal;
    }
    }

    .logo {
        margin: 20px 0px 8px;
    }
    .bottom-right {
        position: absolute;
        bottom: -40px;
        right: 0px;
        a {
            background-color: rgba(255, 255, 255, 0.42);
            padding: 3px 10px;
        }
    }
}

// test for gray header menu bar
.topmenu {
    background-color: #e5e5e5;
    height: 30px;

    .navbar-nav > li > a {
        line-height: 16px!important;
    }

    .navbar-default {
        background: none !important;
    }

    .dropdown .caret {
        color: black !important;
        border-top-color: black !important;
        border-bottom-color: black !important;
    }

    .btn {
        padding: 5px 12px;
    }

    .user button {
        padding: 0 10px 0 0;
        color: darken(white, 10%);
        background: @gray;
        vertical-align: middle;

        &:hover, &:active {
            text-decoration: none !important;
            color: darken(white, 15%);
            background: darken(@gray, 10%);
        }

        img {
            margin-right: 5px;
        }
    }

    .language button {
        vertical-align: middle;
        background: lighten(@gray-light, 10%);

        &:hover, &:active {
            background: @gray-light;
        }
    }

    .dropdown-menu {
        margin-top: -1px;
    }
}
