@import "etalab.less";

#claim {
    font-family: @title-font;
    font-size: 1.55em;
}

h3 {
    font-family: @title-font;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 0px;
    margin-right: 15px;
    margin-top: 12px;
    margin-bottom: 8px;
    color: @dark_text;
}

// News carousel
#news-carousel {
    border: 1px solid #d9d9d7;

    @media (min-width: @screen-sm) {
        height: 300px;
        overflow: hidden;
    }

    .carousel-inner > .item {

        img {
            margin: 0 auto;
        }

        @media (min-width: @screen-sm) {
            height: 300px;

            img.slide {
                min-height: 200px;
                position: absolute;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -50%;
                margin-top: -48%;
                min-width: 100%;
            }
        }
    }

    .carousel-caption {
        height: 100px;
        z-index: 10;
        width: 100%;
        color: #3e3e3e;
        background-color: rgb(243, 243, 243);
        padding: 5px;
        bottom: 0px;
        left: 0px;
        text-shadow: none;
        text-align: left;
        text-transform: uppercase;
        font-family: @title-font;
        padding: 10px;

        .slide-logo {
            display: block;
            width: 80px;
            height: 80px;
            border: 1px solid @gray-lighter;
            position: absolute;
            margin-right: 20px;
            background: white;


            img {
                max-width: 70px;
                max-height: 70px;
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -40px;
                margin-top: -40px;
            }
        }

        label {
            font-size: 12px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .title  {
            margin-top: 0px;
        }

        a {
            color: #3e3e3e;
            display: block;
            font-size: 17px;
            line-height: 20px;
            font-weight: bold;
            padding-right: 18px;
            height: 60px;
            overflow: hidden;
            font-family: @title-font;

        }
    }
}


// Main Carsoussel
#home-carousel {
    border: 1px solid #d9d9d7;

    height: 200px;

    @media (min-width: @screen-sm-min) {
        height: 300px;
        overflow: hidden;
    }

    .carousel-inner > .item {

        img {
            margin: 0 auto;
        }

        height: 240px;

        img.slide {
            min-height: 200px;
            position: absolute;
            top: 0;
            left: 0;
            min-width: 100%;
        }

        @media (min-width: @screen-sm-min) {
            height: 340px;

            img.slide {
                min-height: 300px;
            }
        }
    }

    .carousel-caption {
        bottom: 0;
        @media (min-width: @screen-sm-min) {
            bottom: 40px;
        }
        height: 100px;
        z-index: 10;
        width: 100%;
        color: #3e3e3e;
        background-color: rgba(243, 243, 243, 0.92);
        padding: 5px;
        left: 0px;
        text-shadow: none;
        text-align: left;
        text-transform: uppercase;
        font-family: @title-font;
        padding: 10px;

        .slide-logo {
            display: table-cell;
            text-align: center;
            width: 80px;
            height: 80px;
            border: 1px solid @gray-lighter;
            background: white;
            margin-right: 10px;
            position: relative;
            padding: 4px;

            .slide-logo-big {
                img {
                    max-width: 70px;
                    max-height: 70px;
                }
            }

            .slide-logo-min {
                position: absolute;
                bottom: 4px;
                right: 4px;
                img {
                    max-width: 30px;
                    max-heigth: 30px;
                }
            }
        }

        .title  {
            margin-top: 0px;
            margin-bottom: 0;
            height: 80px;

            a {
                color: #3e3e3e;
                display: block;
                font-size: 28px;
                line-height: 30px;
                font-weight: bold;
                padding-right: 10px;
                height: 30px;
                overflow: hidden;
                font-family: @title-font;
                .ellipsis();
            }
            label {
                font-size: 12px;
                margin-top: 0px;
                margin-bottom: 0px;
                display: inline;
            }
        }

        a.unfeature {
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }
}
