/**
 * Common site styles and helpers.
 */

.sidebackground-width(@container-width, @cols) {
    width: round(1000px + @cols * (@container-width / @grid-columns) - (@grid-gutter-width / 2) + 1px);
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.transition2(...) {
    @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`;

    -webkit-transition: @value;
    -moz-transition: @value;
    -ms-transition: @value;
    -o-transition: @value;
    transition: @value;
}

.scale(@ratio) {
    -webkit-transform:scale(@ratio);
       -moz-transform:scale(@ratio);
        -ms-transform:scale(@ratio);
         -o-transform:scale(@ratio);
            transform:scale(@ratio);
}

.no-decoration {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.square-stamp(@color) {
    padding: 2px 4px;
    color: @color !important;
    text-transform: uppercase;
    border: 2px solid @color;
    font-size: 9px;
    margin-left: 3px;
    font-weight: bold;
    top: -1px;
    position: relative;
}

.glyph-left-square(@size) {
    padding-left: @size + 10px;
    position: relative;

    .glyphicon {
        color: rgba(255, 255, 255, 0.5);
        background-color: rgba(0, 0, 0, 0.15);
        position: absolute;
        top: 0px;
        left: 0px;
        width: @size;
        height: @size;
        line-height: @size - 2;
    }

}


.publisher-avatar(@size, @user-size) {
    border: 1px solid @gray-lighter;
    background: white;
    width: @size;
    height: @size;
    padding: 4px;
    display: inline-block;

    .frame {
        .text-center();
        vertical-align: middle;
        background: @gray-lighter;
        position: relative;
        width: 100%;
        height: 100%;

        &:hover, &:active, &:focus {
            background: darken(@gray-lighter, 5%);
        }

    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    a:first-child img {
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
    }

    .user {
        .text-right();
        position: absolute;
        bottom: 0;
        right: 0;
        border: 1px solid @gray-lighter;
        max-width: @user-size;
        max-heigth: @user-size;
        opacity: 0.9;

        .transition2(width .5s ease, height .5s ease);

        &:hover, &:active, &:focus {
            max-width: 100%;
            max-height: 100%;
            border: none;
            opacity: 1;
        }
    }
}
